.blue-pattern {
  background-color: var(--surface-secondary);
  background-image: url("/greybox/assets/tileable_banner_mobile.png");
}

.blue-pattern:last-child {
  padding-bottom: 28.9px;
}

.blue-pattern h3,
.blue-pattern p {
  padding: 0px;
  width: 100%;
  color: var(--surface-primary);
  /* padding-bottom: 16px; */
}

.blue-pattern p {
  margin: 0px;
  font-size: 20px;
}

main h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.blue-pattern h3 {
  padding-top: 8px;
  margin-bottom: 0px;
  font-family: "Open-Dyslexic";
  font-size: 32px;
  font-weight: 800;
  line-height: 36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

main article {
  padding-bottom: 40px;
  padding-top: 0px;
}

.product-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.product-text-container > * {
  padding-bottom: 16px;
}

.product-text-container {
  width: 350px;
  align-self: center;
  padding: 24px 0px;
}

.product-item-container > img,
.sustainability > img {
  height: 350px;
  width: 350px;
  align-self: center;
}

.product-text-container > b {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-secondary);
}

.product-and-price {
  width: 350px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.product-and-price h6,
.product-and-price p {
  margin: 0px;
}

.product-and-price p {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product-cta-button {
  width: 210px;
  height: 64px;
  gap: 2px;
  border-radius: 16px;
  opacity: 0px;
  padding: 0px;
  margin-top: 16px;
}

.product-cta-button > h1 {
  font-size: 18px;
}

.sustainability {
  padding-top: 37px; /*@todo ?????*/
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.sustainability > div > h3 {
  margin-block-end: 0px;
}

#about-us-arrow {
  width: 32px;
  height: 32px;
}

.sustainability > .title-and-text > .buttons {
  width: 169px;
}

/* OLD BUTTON */
/* .sustainability > .title-and-text > .buttons {
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 4px;
  border-style: solid;
  border-color: var(--surface-quaternary);
  border-radius: 16px;
} */
