footer {
    width: 100%;
    height: 1431px;
    top: 5403px;
    object-fit: cover;
    overflow: auto;
    background-color: var(--surface-secondary);
}

h4 {
 display: flex;
   flex-direction: column;
    gap: 16px;
}

b {
    display: flex;
    flex-direction: column;
    gap: 16px;
}