header {
  position: sticky;
  top: 0;
  width: 100%;
  object-fit: cover;
  overflow: auto;
  background-color: var(--surface-primary);
  z-index: 10;
}

.nav-newsletter {
  background-color: var(--surface-secondary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-newsletter > b {
  display: block;
  width: 353px;
  height: 44px;
  /* padding-top: 14px; */
  padding: 14px 38.5px;
  color: var(--surface-primary);
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#logo-and-search {
  justify-content: space-evenly;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.logo-container > img {
  position: relative;
  width: 94px;
  height: 100%;
  top: -5px;
}

.logo-container > p {
  margin: 0px;
  margin-top: -10px;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header-search-container {
  width: 230px;
  height: 40px;
  top: 82px;
  left: 138px;
  gap: 15px;
  border-radius: 16px 16px 16px 16px;
  opacity: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px;
  border-style: solid;
  border-color: var(--text-primary);
}

.header-search-container-item {
  position: relative;
  width: 48px;
  height: 40px;
  gap: 0px;
  border-radius: 14px;
  opacity: 0px;
  background-color: var(--surface-quaternary);
  align-items: center;
  justify-content: center;
  display: flex;
}

.header-search-container-item > p {
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  pointer-events: none;
}

.header-search-container > form {
  position: relative;
}

.header-search-container > form > input {
  /* position: relative; */
  background-color: rgba(255, 0, 0, 0);
  height: 40px;
  width: 161px;
  border: none;
  position: absolute;
  left: -173px;
  top: -21px;

  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-primary);
}

.header-search-container > form > input::placeholder {
  opacity: 0.5;
  color: var(--text-primary);
}

textarea:focus,
input:focus {
  outline: none;
}

.header-spacing-helper {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.header-links-right {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > a {
  padding-left: 10px;
}

.nav-img {
  width: 32px;
  height: 32px;
}

.nav-sub-item {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown > a {
  position: relative;
  top: -8px;
}

.dropdown > img {
  position: relative;
  top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  opacity: 0;
  top: 183px;
  left: 0px;
  background-color: var(--surface-primary);
  z-index: 1;
  width: 160px;
  height: 312px;
  justify-content: center;
}

@keyframes fade-in-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown button {
  all: unset;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-primary);
  text-decoration: none;
}
.dropdown button:focus {
  outline: revert;
}

.dropdown-content h1 {
  padding-top: 1px;
  margin: 0;
}

.dropdown-content img {
  width: 32px;
  height: 32px;
  align-self: flex-end;
}

.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-primary);
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn:hover {
  cursor: pointer;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 29px;
  animation: fade-in-menu 0.3s ease-in-out;
  opacity: 1;
}
