.hero-img {
  display: block;
  width: 100%;
  height: 310px;
  padding-top: 0.5rem;
  object-fit: cover;
  object-position: 80% 0;
  /* margin: -8px; */
}

article {
  padding: 16px 40px;
}

.title-and-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#hero-cta-button-01 {
  width: 160px;
}
#hero-cta-button-02 {
  width: 302px;
}

.buttons > img {
  width: 32px;
  height: 32px;
}
