/* CATCHING STUFF THAT LOOKS BAD IN LOWER RESOLUTION */
@media only screen and (max-width: 414px) {
  #footer-email > div > p {
    display: none;
  }
  #footer-email > div {
    left: -40px;
  }
}

#hero-cta-button-03 {
  width: 360px;
  height: 64px;
  gap: 2px;
  border-radius: 16px;
  opacity: 0px;
  padding: 0px;
  margin-top: 16px;
}

/* NICE TO HAVE: CHANGE SOME LAYOUT BETWEEN PHONE AND DESKTOP */
/* @media only screen and (min-width: 820px) {
  #extra-product-01,
  #extra-product-02 {
    display: flex;
  }
}

@media only screen and (max-width: 819px) {
  #extra-product-01,
  #extra-product-02 {
    display: none;
  }
  .products-desktop {
    display: flex;
    gap: 24px;
  }
} */

/* DESKTOP CHANGES */
.desktop {
  display: none;
}
@media only screen and (min-width: 1440px) {
  /* CHANGE FLEX DIRECTION OF PRODUCTS AND DISPLAY 'EM DIFFERENTLY */
  /* GLOBAL */
  .desktop-inactive {
    display: none;
  }

  .desktop {
    display: block;
  }

  /* HEADER */

  .header-spacing-helper {
    padding-bottom: 5px;
  }

  .nav-newsletter {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-newsletter > b {
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .nav-newsletter > b:hover {
    text-decoration: underline;
  }

  .nav-sub-item {
    justify-content: space-between;
  }

  .header-links-left {
    gap: 40px;
  }

  .header-links-right {
    gap: 44px;
  }
  .log-in,
  .cart {
    gap: 19px;
  }

  #logo-and-search {
    justify-content: left;
    gap: 54px;
  }

  .header-search-container {
    width: 380px;
  }
  .header-search-container > form > input {
    width: 305px;
  }

  .logo-container > img {
    width: 156px;
    height: 68.9px;
  }

  .nav-links a {
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 0px;
  }

  /* HERO */
  .hero-title-and-text {
    position: relative;
    padding: 0px;
  }

  .hero-img {
    height: 600px;
    width: 100%;
  }

  .hero-title-and-text > h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
    color: var(--surface-primary);

    top: 208px;
    left: 101px;
  }

  .hero-title-and-text > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--surface-primary);

    top: 289px;
    left: 101px;
    width: 405px;
  }

  #hero-cta-button-01 {
    top: 353px;
    left: 101px;

    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: var(--text-primary);
  }

  #hero-cta-button-02 {
    top: 353px;
    left: 340px;

    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: var(--text-primary);
  }

  .hero-title-and-text > h1,
  .hero-title-and-text > p,
  .hero-title-and-text .buttons {
    position: absolute;
  }

  /* BODY */
  .products-grid {
    align-self: center;
  }

  .products-desktop {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
  }

  .product-text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-and-price {
    width: 100%;
  }

  .product-item-container > img {
    width: 292px;
    height: 292px;
    object-fit: cover;
    object-position: 30% 0;
  }

  /* CHANGE THE DISPLAY PROPERTIES OF TITLE-AND-TEXT ELEMENTS */
  .blue-block {
    flex-direction: row;
    padding: 40px;
    align-items: center;
  }

  .blue-block > h3 {
    padding: 0px;
    margin: 0px;
    width: 670px;
    font-size: 54px;
    line-height: 58px;
  }
  .blue-block > p {
    width: 670px;
    font-size: 24px;
    line-height: 30px;
  }

  /* SUSTAINABILITY */
  .sustainability {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .sustainability > .title-and-text {
    width: 588px;
    padding-top: 224px;
    padding-left: 100px;
  }

  .sustainability > .title-and-text > h3 {
    text-align: left;
    width: 588px;
    font-size: 32px;
  }
  /* CONFIGURATOR */
  .sustainability > img {
    height: 608px;
    width: 608px;
    padding-bottom: 40px;
    padding-right: 100px;
    align-items: flex-start;
    padding-left: 44px;
  }

  #desktop-configurator-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    padding-left: 100px;
    justify-content: flex-start;
    gap: 0px;
  }

  .title-and-text-03 {
    padding-left: 100px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  #desktop-configurator-container > div {
    display: flex;
  }

  #desktop-configurator-container {
    align-items: flex-start;
  }

  .configurator-text-helper {
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  .configurator-right-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  .configurator-done-button > div > h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  #btnbox {
    padding-bottom: 130px;
    gap: 0px;
    width: 608px;
  }

  .info-container {
    margin-top: -100px;
    padding-top: 0px;
  }

  /* @todo check if necessary */
  .user-design {
    padding: 0px;
  }

  .info-item {
    padding: 0px;
    /* width: 292px; */
    /* max-width: 292px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .info-item:nth-child(1) {
    gap: 20px;
    display: flex;
  }

  .icon {
    margin: 0px;
  }

  .info-item > div:nth-child(2) {
    width: 226px;
  }

  .info-item > div > img {
    width: 32px;
    height: 32px;
  }

  /* FOOTER */
  .footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links-container div {
    width: 20%;
  }

  #footer-email {
    width: 50%;
  }

  #footer-email div {
    left: 190px;
    width: 70%;
    justify-content: flex-start;
  }

  .footer-logo > img {
    width: 157px;
    height: 69px;
    margin: 0px;
  }

  .bottom-footer {
    padding-top: 80px;
  }
}
