h3 {
  font-family: "Open-Dyslexic";
}
h6 {
  font-family: "Open-Dyslexic";
  font-weight: 800;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h6 {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}
